*~
*.FCStd1
*.a
*.armv6l
*.armv7l
*.*bak*
*.class
*.hex
*.hode.i
*.hode.s
*.lis
*.log
*.map
*.net
*.o
*.obj
*.oct
*.pcb
*.pdf
*.png
*.qws
*.rep
*.rk05
*.rk8
*.so
*.stl
*.tgz
*.tu56
*.x86_64
.nfs*
fp-info-cache
GUI.jar
GUIRasPiCtl.h
libGUIRasPiCtl.*.so
baseshunt
classes
csrcmod_*.cc
datasheets
de0/.qsys_edit
de0/db
de0/*.rpt
de0/incremental_db
de0/output_files
de0/proc-synth.v
de0/simulation/modelsim
driver/km*/*.ko
driver/km*/*.mod
driver/km*/*.mod.c
driver/km*/*.o
driver/km*/.*
driver/km*/Module.symvers
driver/km*/enabtsc.mod
driver/km*/modules.order
focal/typedin/focal12.ecd
gerber*
goodpcbs
iowarrior/*
jacl141
jaclBinary141.zip
kicads/acl
kicads/alu
kicads/exp
kicads/ma
kicads/pc
kicads/rpi
kicads/seq
kicads/*/*-backups
maindec/objs
modules/stuckon.mod
modules/testpads_*.mod
modules/whole.mod
raspictl.readcounts
stuckongen
trash
zynq
!de0/simulation/modelsim/testde0.do
!goodpcbs/*.net
!goodpcbs/*.pcb
!goodpcbs/*.png
!goodpcbs/*.rep
!iowarrior/makefile
!kicads/IOW56Paddle/IOW56Paddle.kicad_pcb
!kicads/IOW56Paddle/IOW56Paddle.pro
!kicads/IOW56Paddle/IOW56Paddle.sch
!modules/*.map
!zynq/howto.txt
!zynq/makebootbin.sh
!zynq/pdp8v.tcl
